<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>OPTITASK</title>
</head>
<header><img id="logo" src="https://raw.githubusercontent.com/projeto-de-algoritmos/PD_QualTarefa/master/src/templates/QualTarefa_500_300_px.png"></header>
<body>
    

    <header>
      <input id="inputTarefa" type="text" placeholder="Tarefa">
      <input id="inputTarefa2" type="text" placeholder="Data de início" onfocus="(this.type='date')">
      <input id="inputTarefa3" type="text" placeholder="Data de fim" onfocus="(this.type='date')">
      <input id="inputTarefa4" type="text" placeholder="Preço">
      
      <button onclick="addTarefa()" id="btn-add" class="add">Adicionar Tarefa</button>
      <button onclick="verificarLucroMax() " id="submit-button" >Verificar Lucro Máximo</button>
    </header>
    
    <main id="areaLista">

    </main>

    <div id="resultado" class="cards-container"></div>
    
    <div id="resultado" class="cards-container"></div>


    <script src="../static/js/script.js"></script>
    

</body>
</html>